/* :root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.flex-4 {
  gap: 1rem;
}

.col {
  flex-direction: column;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* a {
  color: inherit;
  text-decoration: none;
} */

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

div.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

/* button {
  cursor: pointer;
}

ul {
  list-style: none;
} */

.editor tr {
  border-top: 1px solid #c6cbd1;
  /* background: #fff; */
}
.editor th,
.editor td {
  padding: 12px 55px;
  border: 1px solid #dfe2e5;
}
.editor table tr:nth-child(2n) {
  /* background: #f6f8fa; */
}
.editor h1 {
  font-size: 2em;
}
.editor h2 {
  font-size: 1.5em;
}
.editor h3 {
  font-size: 1.17em;
}
.editor h4 {
  font-size: 1em;
}
.editor h5 {
  font-size: 0.83em;
}
.editor h6 {
  font-size: 0.67em;
}
.editor h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bolder;
}
.editor blockquote {
  /* color: #fff; */
  margin: 10px;
  padding-left: 1.2em;
  border-left: 0.2em #666 solid;
  font-style: italic;
}
.editor a {
  color: rgb(46, 46, 233);
}
.editor li {
  list-style-type: square;
}
.fullheight {
  height: 92vh;
}

.sortable-chosen {
  border: 2px dashed #47b2e4;
  opacity: 0.5;
  /* background-color: green; */
}

.sortable-ghost {
  opacity: 1;
  /* background-color: red; */
}

.sortable-drag {
  /* border: none; */
  /* background-color: blue; */
  opacity: 1;
}
